/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    background:
        linear-gradient(to top, black, transparent),
        linear-gradient(to bottom, purple, transparent);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor centrado */
.contenedor {
    text-align: center;
    transition: padding-top 0.5s ease;
    padding-top: 0px;
}

/* Titulo */
.titulo {
    font-size: 50px;
    margin-bottom: 40px;
    transition: transform 0.5s ease;
}

/* Boton de acceso */
.boton-acceso {
    padding: 15px 40px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #5c00ff;
    color: white;
    transition: transform 0.5s ease box-shadow 0.5s ease;
}
/* Mensaje oculto por defecto */
.mensaje {
    font-size: 18px;
    opacity: 0;
    margin: 0 0 20px 0;
    transition: opacity 0.5s ease;
}

/* Cuando el ratón está sobre el contenedor */
.contenedor:hover .mensaje {
    opacity: 1;
}

/* Cambio al pasar por el boton de acceso */
.boton-acceso:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #8f4dff;
}
/* Hover sobre el contenedor */
.contenedor:hover .titulo {
    transform: translateY(-100px); /* El título sube */
}

/* Para que el contenedor deje espacio arriba */
.contenedor:hover {
    padding-top: 40px;
}
